$fontcolor: #231231;

* {
  padding: 0;
  margin: 0;
  outline: none;
}

a {
  color: $fontcolor;
  text-decoration: none;

  &:focus,
  &:hover,
  &:visited {
    color: $fontcolor;
  }
}

body {
  background-color: white;
  font-style: normal;
  transition: 0.3s linear;
  box-sizing: border-box;
}
